<h4><i class="fa fa-comments-o"></i> {{ comments|length }} {{ name }}</h4>

{% for comment in comments %}
    <div class="row">
        <div class="columns small-12">
            <blockquote>
                <div class="one-line">
                    <img src="{{ gravatar(comment.createdBy, 16) }}" alt="" class="th"/>
                    <strong>{{ comment.createdBy }}</strong>
                    <span class="quiet"><i class="fa fa-clock-o"></i> {{ comment.createdAt|time_ago_in_words }}</span>
                </div>
                <div class="quiet"></div>
                <div class="markdown">{{ markdown(comment.commentText) }}</div>
            </blockquote>
        </div>
    </div>
{% endfor %}

{% if show_form %}
    <div class="row">
        <form role="form" action="{{ path('topic-comment', {id: topic.id}) }}" method="post">
            <textarea name="comment" class="form-controll" placeholder="add comment (markdown allowed)"></textarea>

            <div class="right">
                <button class="button tiny radius">comment</button>
            </div>
        </form>
    </div>
{% endif %}

