{% extends 'TobiasOlryTalklyBundle::layout.html.twig' %}

{% block navigation %}
    {% set active_menu = 'archive' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="large-4 small-12 columns">

            <h3><i class="fa fa-calendar"></i> Months</h3>
            <hr/>

            <ul>
                {% for month, monthly_topics in topics %}
                    <li>
                        <a href="#month-{{ monthly_topics|first.lectureDate ? monthly_topics|first.lectureDate.format('Y-m') : 'unknown' }}">
                            {{ monthly_topics|first.lectureDate ? monthly_topics|first.lectureDate.format('F Y') : 'unknown' }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="large-8 small-12 columns">

            <h3>Archived Topics</h3>
            <hr>

            {% for month, monthly_topics in topics %}
                {% for topic in monthly_topics %}
                    {% if loop.first %}
                        <h4 class="highlight-target"
                            id="month-{{ topic.lectureDate ? topic.lectureDate.format('Y-m') : 'unknown' }}">
                            {{ topic.lectureDate ? topic.lectureDate.format('F Y') : 'unknown' }}
                        </h4>
                    {% endif %}
                    {% include 'TobiasOlryTalklyBundle:Topic:display.short.html.twig' with {topic: topic} %}
                {% endfor %}
            {% endfor %}

        </div>

    </div>

{% endblock %}

