<h4><i class="fa fa-comments-o"></i> {{ comments|length }} {{ name }}</h4>

{% for comment in comments %}
<div class="row">
    <div class="columns small-12 medium-2 text-center">
        <img src="{{ gravatar(security.user, 96) }}" alt="" class="th" /><br />
        <div class="one-line">{{ security.user }}</div>
        <p class="one-line quiet"><i class="fa fa-clock-o"></i> {{ comment.createdAt|time_ago_in_words }}</p>
    </div>
    <div class="columns small-12 medium-10">
            <blockquote>
                <div class="quiet"></div>
                <div class="markdown">{{ markdown(comment.commentText) }}</div>
            </blockquote>
    </div>
</div>
{% endfor %}

{% if show_form %}
<div class="row">
    <form role="form" action="{{ path('topic-comment', {id: topic.id}) }}" method="post">
        <textarea name="comment" class="form-controll" placeholder="add comment (markdown allowed)"></textarea>
        <div class="right"><button class="button tiny radius">comment</button></div>
    </form>
</div>
{% endif %}

