{% if topic.createdBy == security.user %}
<a class="button tiny radius secondary" href="{{ path('topic-edit', {id: topic.id, view: view|default('list')}) }}">
    edit
</a>
{% endif %}

{% if topic.hasVote(security.user) %}
<a data-tooltip title="retract your vote" class="button tiny radius" href="{{ path('topic-retract-vote', {id: topic.id, view: view|default('list')}) }}">
    <i class="fa fa-thumbs-up"></i>
</a>
{% else %}
<a data-tooltip title="vote" class="button tiny radius secondary" href="{{ path('topic-cast-vote', {id: topic.id, view: view|default('list')}) }}">
    <i class="fa fa-thumbs-up"></i>
</a>
{% endif %}


{% if topic.hasSpeaker(security.user) %}
<a data-tooltip title="unregister as speaker" class="button tiny radius" href="{{ path('topic-remove-speaker', {id: topic.id, view: view|default('list')}) }}">
    <i class="fa fa-microphone"></i>
</a>
{% else %}
<a data-tooltip title="register as speaker" class="button tiny radius secondary" href="{{ path('topic-add-speaker', {id: topic.id, view: view|default('list')}) }}">
    <i class="fa fa-microphone"></i>
</a>
{% endif %}
