<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <h2 class="left">
        <span class="fa-stack">
            <i class="fa fa-thumbs-o-up fa-stack-2x"></i>
            <strong class="fa-stack-1x votes-text">{{ topic.votes|length }}</strong>
        </span>
    </h2>

    {% if not topic.archived %}
    <div class="right">
        {% if topic.voteCastBy(app.request.user) %}
        <a href="{{ path('topic-retract-vote', {id: topic.id}) }}"><i class="fa fa-thumbs-down"></i> retract your vote</a>
        {% else %}
        <a class="button tiny radius" href="{{ path('topic-cast-vote', {id: topic.id}) }}"><i class="fa fa-thumbs-up"></i> vote</a>
        {% endif %}
    </div>
    {% endif %}

    <h4><a href="{{ path('topic-show', {id: topic.id}) }}">{{ topic.title }}</a></h4>
    <p class="quiet">
        {% include 'topic/details.html.twig' %}<br />
        <strong>votees:</strong> {{ topic.votes|join(', ') }}
    </p>

</div> <hr/>

