<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    {% if not topic.lectureHeld %}
    <div class="right">
        {% include 'topic/controls.html.twig' %}
    </div>
    {% endif %}

    <h4>{{ topic.title }}</h4>
    <div class="quiet">
        {% include 'topic/details.html.twig' %}<br />
    </div>
    <br/>
    {% if topic.lectureHeld %}
        <div class="panel callout radius">
            <ul class="topic-details clearfix">
                <li><i class="fa fa-calendar"></i> {{ topic.lectureDate ? topic.lectureDate.format('d.m.Y') : 'unknown' }}</li>
                <li><i class="fa fa-microphone"></i> {{ topic.speakers|length ? topic.speakers|join(', ') : 'unknown' }}</li>
            </ul>
            <p>{{ markdown(topic.lectureNote) }}</p>
        </div>
    {% endif %}
    <div class="markdown">{{ markdown(topic.description) }}</div>

    {% if not topic.lectureHeld %}
    <p>
        <a href="#" data-toggle data-toggle-target="topic-{{ topic.id }}-archive">
            <i class="fa fa-graduation-cap"></i> Lecture
            <i class="fa fa-angle-double-down data-toggle-open"></i>
            <i class="fa fa-angle-double-right data-toggle-closed"></i>
        </a>
    </p>

    <div class="hide" id="topic-{{ topic.id }}-archive">
        {% include 'topic/lecture.html.twig' %}
    </div>
    {% endif %}

    <h4><i class="fa fa-comments-o"></i> {{ topic.comments|length }} comment(s)</h4>

    <div>
        {% for comment in topic.comments %}
        <blockquote>
            <div class="markdown">{{ markdown(comment.commentText) }}</div>
            <cite>
                <i class="fa fa-user"></i> {{ comment.createdBy }}
                <i class="fa fa-clock-o"></i> {{ comment.createdAt|time_ago_in_words }}
            </cite>
        </blockquote>
        {% endfor %}

        {% if not topic.lectureHeld %}
        <div class="row">
            <form role="form" action="{{ path('topic-comment', {id: topic.id}) }}" method="post">
                <div class="columns small-2">{{ app.request.user }}</div>
                <div class="columns small-10">
                    <textarea name="comment" class="form-controll" placeholder="add comment (markdown allowed)"></textarea>
                    <div class="right"><button class="button tiny radius">comment</button></div>
                </div>
            </form>
        </div>
        {% endif %}

    </div>

</div>

<hr/>
