<div class="clearfix">
    <div class="right"><abbr title="{{ topic.createdAt|date }}">{{ topic.createdAt|time_ago_in_words }}</abbr></div>
    <h4>{{ topic.title }}</h4>
    <div>
        {{ topic.description }}
    </div>
    <div class="right"><a href="#topic-{{ topic.id }}">&raquo; Details</a></div>
    <hr />
</div>

