<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <div class="left">
        <span class="fa-stack">
            <i class="fa fa-thumbs-o-up fa-stack-2x"></i>
            <strong class="fa-stack-1x votes-text">{{ topic.votes|length }}</strong>
        </span>
    </div>

    {% if not topic.archived %}
    <div class="right">

        {% if topic.voteCastBy(security.user) %}
        <a data-tooltip title="retract your vote" class="button tiny radius" href="{{ path('topic-retract-vote', {id: topic.id}) }}">
            <i class="fa fa-thumbs-up"></i>
        </a>
        {% else %}
        <a data-tooltip title="vote" class="button tiny radius secondary" href="{{ path('topic-cast-vote', {id: topic.id}) }}">
            <i class="fa fa-thumbs-up"></i>
        </a>
        {% endif %}


        {% if topic.speakers.contains(security.user) %}
        <a data-tooltip title="remove you as a speaker" class="button tiny radius" href="{{ path('topic-remove-speaker', {id: topic.id}) }}">
            <i class="fa fa-microphone"></i>
        </a>
        {% else %}
        <a data-tooltip title="add you as a speaker" class="button tiny radius secondary" href="{{ path('topic-add-speaker', {id: topic.id}) }}">
            <i class="fa fa-microphone"></i>
        </a>
        {% endif %}

    </div>
    {% endif %}

    <h4><a href="{{ path('topic-show', {id: topic.id}) }}">{{ topic.title }}</a></h4>
    <div class="quiet">
    {% include 'topic/details.html.twig' %}
    </div>

</div> <hr/>

