<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <div class="right">
        {% if topic.voteCastBy(app.request.user) %}
        <a class="button tiny radius" href="{{ path('topic-retract-vote', {id: topic.id}) }}"><i class="fa fa-thumbs-down"></i> retract vote</a>
        {% else %}
        <a class="button tiny radius" href="{{ path('topic-cast-vote', {id: topic.id}) }}"><i class="fa fa-thumbs-up"></i> vote</a>
        {% endif %}
    </div>
    <h4>{{ topic.title }}</h4>
    <div>{{ markdown_extra(topic.description) }}</div>
    <p><strong>Votes:</strong> {{ topic.votes|join(', ') }}</p>
    <p class="right">{% include 'topic/details.html.twig' %}</p>
    <p>
    <a href="#" data-toggle data-toggle-target="topic-{{ topic.id }}-comments">
        <i class="fa fa-comments-o"></i> {{ topic.comments|length }} comment(s)
        <i class="fa fa-angle-double-up data-toggle-open"></i>
        <i class="fa fa-angle-double-down data-toggle-closed"></i>
    </a>

    </p>
    <div class="hide" id="topic-{{ topic.id }}-comments">
        {% for comment in topic.comments %}
            <blockquote>
                <cite>
                    <i class="fa fa-user"></i> {{ comment.createdBy }}
                    <i class="fa fa-clock-o"></i> {{ comment.createdAt|time_ago_in_words }}
                </cite>
                {{ markdown_extra(comment.commentText) }}
            </blockquote>
        {% endfor %}
        <div class="row">
            <form role="form" action="{{ path('topic-comment', {id: topic.id}) }}" method="post">
                <div class="columns small-2">{{ app.request.user }}</div>
                <div class="columns small-10">
                    <textarea name="comment" class="form-controll" placeholder="add comment (markdown allowed)"></textarea>
                    <div class="right"><button class="button tiny">comment</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr/>
