<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% if not topic.lectureHeld %}
    <div class="right">
        {% include 'topic/controls.html.twig' with {view: 'show'} %}
    </div>
    {% endif %}

    <h4 class="one-line" data-tooltip title="{{ topic.title }}">{{ topic.title }}</h4><hr />

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <div class="quiet">
        {% include 'topic/details.html.twig' %}<br />
    </div>
    <br/>
    {% if topic.lectureHeld %}
        <div class="panel callout radius">
            <ul class="inline-list">
                <li><span><i class="fa fa-calendar"></i> {{ topic.lectureDate ? topic.lectureDate.format('d.m.Y') : 'unknown' }}</span></li>
                <li><span><i class="fa fa-microphone"></i> {{ topic.speakers|length ? topic.speakers|join(', ') : 'unknown' }}</span></li>
            </ul>
            <p>{{ markdown(topic.lectureNote) }}</p>
        </div>
    {% endif %}

    <div class="one-line quiet">
        <img src="{{ gravatar(topic.createdBy, 16) }}" alt="" class="th" />
        <strong>{{ topic.createdBy }}</strong>
        <span data-tooltip title="{{ topic.createdAt|date('Y-m-d H:i:s') }}" class="quiet"><i class="fa fa-clock-o"></i> {{ topic.createdAt|time_ago_in_words }}</span>
    </div>
    <div class="markdown">{{ markdown(topic.description) }}</div>

    {% if not topic.lectureHeld %}
    <p>
        <a href="#" data-toggle data-toggle-target="topic-{{ topic.id }}-archive">
            <i class="fa fa-graduation-cap"></i> Lecture
            <i class="fa fa-angle-double-down data-toggle-open"></i>
            <i class="fa fa-angle-double-right data-toggle-closed"></i>
        </a>
    </p>

    <div class="hide" id="topic-{{ topic.id }}-archive">
        {% include 'topic/lecture.html.twig' %}
    </div>
    {% endif %}

    {% if topic.lectureHeld %}
        {% include 'topic/comments.html.twig' with {comments: topic.feedbackComments, name: "feedback", show_form: true} %}
    {% endif %}

    {% include 'topic/comments.html.twig' with {comments: topic.comments, name: "comment(s)", show_form: not topic.lectureHeld} %}

</div>

<hr/>
