<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <div class="row">

    <div class="columns small-1">
        <span class="fa-stack votes">
            <i class="fa fa-thumbs-o-up fa-stack-2x"></i>
            <strong class="fa-stack-1x votes-text">{{ topic.votes|length }}</strong>
        </span>
    </div>

    <div class="columns small-11">

        {% if not topic.lectureHeld %}
        <div class="right">
            {% include 'topic/controls.html.twig' %}
        </div>
        {% endif %}

        <h4><a href="{{ path('topic-show', {id: topic.id}) }}">
                {% if topic.speakers|length > 0 %}
                <span class="fa-stack" data-tooltip title="{{ topic.speakers|join(', ') }}">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-microphone fa-stack-1x"></i>
                </span>
                {% endif %}
                {{ topic.title }}
        </a></h4>
        <div class="quiet">
        {% include 'topic/details.tml.twig' %}
        </div>

    </div>

    </div>

</div> <hr/>

