{% extends 'layout.html.twig' %}

{% block navigation %}
    {% set active_menu = 'user-profile' %}

    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">

    <div class="small-12 large-10 large-offset-1 end columns">
        <div class="text-right">
            <a href="{{ path('user-profile') }}">edit profile</a>
            <hr />
        </div>

        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="current one-line"><a href="#">Notifications {{ app.request.user }}</a></li>
        </ul>

        <table>
            <thead>
                <tr class="row">
                    <th class="small-2 text-center"><i class="fa fa-clock-o"></i></th>
                    <th class="small-9 text-center">&nbsp;</th>
                    <th class="small-1 text-center">
                        <a href="{{ path('user-notification-read-all') }}"><i class="fa fa-check"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for notification in security.user.unreadNotifications %}
                <tr class="row">
                    <td class="text-center">{{ notification.createdAt|time_ago_in_words }}</td>
                    <td>{{ markdown(notification.message, true) }}</td>
                    <td class="text-center">
                        <a href="{{ path('user-notification-read', {id: notification.id}) }}"><i class="fa fa-check"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr class="row"><td class="text-center" colspan="3">no unread notifications</td></tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}

